<!DOCTYPE html>
<html lang="">
	<head>
		<include file="public/head" />
	</head>
	<body>
		<include file="public/navbar" home="主页"/>

		<div class="container-fluid">

		<div class="alert alert-info">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<strong>DEFAULT!</strong> DEFAULT 主题
		</div>

			<table class="table table-hover">
				<tbody>
					<tr>
						<td>用户名</td>
						<td>{$user.user}</td>
					</tr>
					<tr>
						<td>电子邮件</td>
						<td>{$user.mail}</td>
					</tr>
					<tr>
						<td>年龄</td>
						<td>{$user['age']-1}</td>
					</tr>
					<tr>
						<td>计算年龄</td>
						<td>{$birthday_year|getAge}</td>
					</tr>
					<tr>
						<td>手机号</td>
						<td>{$user.mobile|default='没有手机号'}</td>
					</tr>
					<tr>
						<td>项目目录</td>
						<td>{$Think.server.DOCUMENT_ROOT}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- 好友列表 -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">好友列表</h3>
			</div>
			<ul class="list-group media-list">
				<!-- volist循环 -->
				<volist name="friends" id="friends" empty="你个穷碧没朋友">
					<li class="list-group-item media">
						<a class="pull-left" href="#">
							<!-- empty判断头像是否为空 -->
							<empty name=
						</a>
					</li>
			</ul>
		</div>
		
		<include file="public/js"/>
		
	</body>
</html>